{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h1 class="text-center">Admin Registration</h1>
            <p class="text-center">Please enter your details to create a new admin account.</p>
            <form method="post" action="{{ url_for('register') }}" novalidate>
                <div class="form-group">
                    <label for="email">Email Address:</label>
                    <input type="email" class="form-control" id="email" name="email" required>
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" class="form-control" id="password" name="password" required>
                </div>
                <div class="form-group">
                    <label for="confirm_password">Confirm Password:</label>
                    <input type="password" class="form-control" id="confirm_password" name="confirm_password" required>
                </div>
                <div class="form-group text-center">
                    <button type="submit" class="btn btn-primary">Register</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}